@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    
    font-family: Arial,sans-serif;
    background-color: #dddddd;
    background: url("../plano-de-fundo.png");
    background-size: 1900px;
    color: rgba(0,0,0,1);

}

div#interface{
    background-color: rgba(230,205,174,0.5);
    width: 1180px;
    height: 1345px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
}
p{
    text-align: justify;
    text-indent: 50px;
}

header#cabecalho{
    height: 230px;
    background: url("../logo-ecorsini.png") no-repeat 480px 0px;
}

/* MENU DE NAVEGAÇÃO -------------------------------------------*/


.hvr-underline-from-center{
    /*border: 1px solid #ffa500;*/
    padding: 10px;
    border-radius: 15px;
    display:block;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    position:relative;
    overflow:hidden;
    background: rgba(255, 255, 255, 0.110);  
}
.hvr-underline-from-center:before{
    content:"";
    position:absolute;
    z-index:0;
    left:51%;
    right:51%;
    bottom:0;
    background:#fff;
    height:4px;
    -webkit-transition-property:left,right;
    transition-property:left,right;
    -webkit-transition-duration:.2s;
    transition-duration:.2s;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out
    
}
.hvr-underline-from-center:active:before,.hvr-underline-from-center:focus:before,.hvr-underline-from-center:hover:before{
    left:0;right:0;
}

.hvr-underline-from-center:hover{
    background-color: #606060;
}


nav#menu{
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(0,0,0,1.0);
    height: 60px;
    margin: 0px -10px 0px -10px;
    box-sizing: border-box;
}

nav#menu ul{
    list-style: none;
    margin: 3px -45px 8px 8px;
    width: 900px;
    text-transform: uppercase;
    position: absolute; /*define que pode movimentar o block pelo site inteiro*/
    top: 220px; /* define a posição do block no site*/
    right: 400px; /* define a posição do block no site*/
}

nav#menu li{
    border-radius: 15%;
    /*border: 1px solid #5900ff;*/
    text-align: center;
    font-weight: bold;
    display: inline-block; /*faz com que um bloco seja exibido na mesma linha*/
    /*background-color: rgba(0,0,0,.05); /*preenchimento da cor da caixa a ser exibido*/
    color: white;
    padding: 0px;  /*tamanho interno da caixa*/
    margin: 8px 12px 2px 12px; /*espaço externo entre as caixas configuração de margens e centralizar objetos*/
    width: 150px;
    -webkit-transition: background-color 1s; /*aplica transição de cor para todos os navegadores*/
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;/*transição de cor das caixa TIME*/
}

/*nav#menu li:hover {
    background-color: #606060;
}*/

nav#menu a{
    display: block;
    color: #ffa500;
    text-decoration: none;

}

nav#menu a:hover{
    color: #ffffff;

}
/*Icones das redes sociais*/
.social-icon{
    margin-left: 900px;
    margin-top: -55px;
    display: block;
    position: absolute;
    height: 47px ;
    width: 200px;
    
}

.social-icon .face img{
    
    display: inline-block;
    position: absolute;
    height: 47px;
    width: 40px;
    border-radius: 100%;
    margin: 2px;
    filter: invert(0%) sepia(100%) hue-rotate(-180deg) saturate(0) brightness(95%) contrast(80%);
}

.social-icon .face img:hover{
    filter: none;
}

.social-icon .insta img{
    
    display: inline-block;
    position: absolute;
    height: 41px;
    width: 33px;
    border-radius: 100%;
    margin: 5px 2px 2px 50px;
    filter: invert(0%) sepia(100%) hue-rotate(-180deg) saturate(0) brightness(95%) contrast(80%);
}

.social-icon .insta img:hover{
    filter: none;    
}

.whatsapp img{
    display: block;
    position: absolute;
    height: 38px;
    width: 33px;
    border-radius: 100%;
    margin: -48px 2px 2px 1000px;
    cursor:default;
}

.numero-whatsapp{
    display: block;
    position: absolute;
    width: 150px;
    text-align: center;
    color: #dddddd;
    margin: -40px 0px 0px 1030px;
    cursor: arrow;

}


@-webkit-keyframes hvr-buzz-out{10%{-webkit-transform:translateX(3px) rotate(2deg);transform:translateX(3px) rotate(2deg)}20%{-webkit-transform:translateX(-3px) rotate(-2deg);transform:translateX(-3px) rotate(-2deg)}30%{-webkit-transform:translateX(3px) rotate(2deg);transform:translateX(3px) rotate(2deg)}40%{-webkit-transform:translateX(-3px) rotate(-2deg);transform:translateX(-3px) rotate(-2deg)}50%{-webkit-transform:translateX(2px) rotate(1deg);transform:translateX(2px) rotate(1deg)}60%{-webkit-transform:translateX(-2px) rotate(-1deg);transform:translateX(-2px) rotate(-1deg)}70%{-webkit-transform:translateX(2px) rotate(1deg);transform:translateX(2px) rotate(1deg)}80%{-webkit-transform:translateX(-2px) rotate(-1deg);transform:translateX(-2px) rotate(-1deg)}90%{-webkit-transform:translateX(1px) rotate(0);transform:translateX(1px) rotate(0)}100%{-webkit-transform:translateX(-1px) rotate(0);transform:translateX(-1px) rotate(0)}
}
@keyframes hvr-buzz-out{10%{-webkit-transform:translateX(3px) rotate(2deg);transform:translateX(3px) rotate(2deg)}20%{-webkit-transform:translateX(-3px) rotate(-2deg);transform:translateX(-3px) rotate(-2deg)}30%{-webkit-transform:translateX(3px) rotate(2deg);transform:translateX(3px) rotate(2deg)}40%{-webkit-transform:translateX(-3px) rotate(-2deg);transform:translateX(-3px) rotate(-2deg)}50%{-webkit-transform:translateX(2px) rotate(1deg);transform:translateX(2px) rotate(1deg)}60%{-webkit-transform:translateX(-2px) rotate(-1deg);transform:translateX(-2px) rotate(-1deg)}70%{-webkit-transform:translateX(2px) rotate(1deg);transform:translateX(2px) rotate(1deg)}80%{-webkit-transform:translateX(-2px) rotate(-1deg);transform:translateX(-2px) rotate(-1deg)}90%{-webkit-transform:translateX(1px) rotate(0);transform:translateX(1px) rotate(0)}100%{-webkit-transform:translateX(-1px) rotate(0);transform:translateX(-1px) rotate(0)}
}

.social-icon img{
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
}
.social-icon img:active,.social-icon img:focus,.social-icon img:hover{
    -webkit-animation-name:hvr-buzz-out;
    animation-name:hvr-buzz-out;
    -webkit-animation-duration:.75s;
    animation-duration:.75s;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
}

/*---------------------------------------------------------------------------------------*/

section#corpo{
    display: block;

}

footer#rodape{
    margin-top: 47px;
    clear: both;
}

footer#rodape p{
    font-weight: bold;
    text-align: center;
}