@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
/*----------------------------------------------------------------------------------*/
    body{
        font-family: Arial,sans-serif;
        background-color: #dddddd;
        background: url("../_images/plano-de-fundo.png");
        background-size: 6000px;
        color: rgba(0,0,0,1);
}

@media only screen and (min-width: 769px){
    body{
        font-family: Arial,sans-serif;
        background-color: #dddddd;
        background: url("../_images/plano-de-fundo.png");
        background-size: 2594px;
        color: rgba(0,0,0,1);
    }
}

    div#interface{
        background-color: rgba(230,205,174,0.5);
        width: 87.45%;
        height: 3600px;
        margin: -20px auto 0px auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
        padding: 10px 10px 10px 10px;
    }
@media only screen and (min-width: 769px){
    div#interface{
        background-color: rgba(230,205,174,0.5);
        width: 87.45%;
        height: 1840px;
        margin: -20px auto 0px auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
        padding: 10px 10px 10px 10px;
    }
}

    p{
        text-align: justify;
        text-indent: 50px;
    }

    header#cabecalho{
        justify-content: center;
        width: 100%;
        height: 230px;
        background: url("../_images/logo-ecorsini.png") no-repeat 50% 0px;
        box-sizing: border-box;
    }


@media only screen and (min-width: 769px){
    header#cabecalho{
        width: 100%;
        height: 230px;
        background: url("../_images/logo-ecorsini.png") no-repeat 480px 0px;
    }

}

/* MENU DE NAVEGAÇÃO -------------------------------------------*/

.hvr-underline-from-center{
    /*border: 1px solid #ffa500;*/
    padding: 10px;
    border-radius: 15px;
    display:block;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    position:relative;
    overflow:hidden;
    background: rgba(255, 255, 255, 0.110);  
}

.hvr-underline-from-center:before{
    content:"";
    position:absolute;
    z-index:0;
    left:51%;
    right:51%;
    bottom:0;
    background:#fff;
    height:4px;
    -webkit-transition-property:left,right;
    transition-property:left,right;
    -webkit-transition-duration:.2s;
    transition-duration:.2s;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out 
}

.hvr-underline-from-center:active:before,.hvr-underline-from-center:focus:before,.hvr-underline-from-center:hover:before{
    left:0;right:0;
}

.hvr-underline-from-center:hover{
    background-color: #606060;
}

nav#menu{
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(0,0,0,1.0);
    height: 60px;
    margin: 0px -10px 0px -10px;
    box-sizing: border-box;
}

nav#menu ul{
    list-style: none;
    margin: 3px -45px 8px 8px;
    width: 900px;
    float: left;
    text-transform: uppercase;
    position: absolute; /*define que pode movimentar o block pelo site inteiro*/
    top: 220px; /* define a posição do block no site*/
    right: 600px; /* define a posição do block no site*/
}

@media only screen and (min-width: 769px){
    nav#menu ul{
        list-style: none;
        margin: 3px -45px 8px 8px;
        width: 900px;
        text-transform: uppercase;
        position: absolute; /*define que pode movimentar o block pelo site inteiro*/
        top: 220px; /* define a posição do block no site*/
        right: 400px; /* define a posição do block no site*/
    }
}

nav#menu li{
    border-radius: 15%;
    /*border: 1px solid #5900ff;*/
    text-align: center;
    font-weight: bold;
    display: inline-block; /*faz com que um bloco seja exibido na mesma linha*/
    /*background-color: rgba(0,0,0,.05); /*preenchimento da cor da caixa a ser exibido*/
    color: white;
    padding: 0px;  /*tamanho interno da caixa*/
    margin: 8px 12px 2px 12px; /*espaço externo entre as caixas configuração de margens e centralizar objetos*/
    width: 150px;
    -webkit-transition: background-color 1s; /*aplica transição de cor para todos os navegadores*/
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;/*transição de cor das caixa TIME*/
}

/*nav#menu li:hover {
    background-color: #606060;
}*/

nav#menu a{
    display: block;
    color: #ffa500;
    text-decoration: none;

}

nav#menu a:hover{
    color: #ffffff;

}

/*Icones das redes sociais*/
.conjunto-social-icons{
    position: relative;
    box-sizing: border-box;
    width: 300px;
    float: right;
    height: 100%;
    z-index: 1;
}

.social-icon{
   
    position: relative;
    height: 100% ;
    width: 26.5%;
    float: left;
    box-sizing: border-box;
    
}

@media only screen and (min-width: 769px){
    .conjunto-social-icons{
        
        position: relative;
        width: 300px;
        float: right;
        height: 100%;
        box-sizing: border-box;
    }

    .social-icon{
      
        float:left;
        height:100% ;
        width: 30%;
        box-sizing: border-box;
        
    }

}

.social-icon .face img{
    
    display: inline-block;
    position: absolute;
   /* height: 47px;*/
    width: 44px;
    border-radius: 100%;
    margin: 5px 0px 2px 5px;
    
}

@media only screen and (min-width: 769px){
    .social-icon .face img{
    
        display: inline-block;
        position: absolute;
       /* height: 47px;*/
        width: 38px;
        border-radius: 100%;
        margin: 10px 0px 2px 13px;
        filter: invert(0%) sepia(100%) hue-rotate(-180deg) saturate(0) brightness(95%) contrast(80%);
    }
    
}

.social-icon .face img:hover{
    filter: none;
}

.social-icon .insta img{
   
    display: inline-block;
    position: absolute;
    /*height: 41px;*/
    width: 36px;
    border-radius: 100%;
    margin: 9px 0px 2px 57px;
    
}
@media only screen and (min-width: 769px){
    .social-icon .insta img{
   
        display: inline-block;
        position: absolute;
        /*height: 41px;*/
        width: 30px;
        border-radius: 100%;
        margin: 14px 0px 2px 61px;
        filter: invert(0%) sepia(100%) hue-rotate(-180deg) saturate(0) brightness(95%) contrast(80%);
    }
}

.social-icon .insta img:hover{
    filter: none;    
}
.whatsapp{
    margin-right: 5px;
    position: relative; 
    height: 100%;
    width: 200px;
    float: right;
    
}

.whatsapp img{
    position: absolute;
    /*height: 38px;*/
    width: 45px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 100%;
    cursor:default;
}

.numero-whatsapp{
    position: relative;
    float:right;
    width: 150px;
    margin-top: 15px;
    text-align: center;
    color: #dddddd;
    cursor: arrow;
}

@media only screen and (min-width: 769px){
    .whatsapp{
      
    display: block;
    position: relative;  
    box-sizing: border-box;
    height: 100%;
    width: 68%;
    margin-right: 5px;
    float: right;
        
    }

    .whatsapp img{  
        
        position: absolute;
        width: 40px;
        margin-top: 11px;
        margin-left: 15px;
        border-radius: 100%;   
        cursor:default;
    }
    
    .numero-whatsapp{  
        
        position: relative;
        width: 150px;
        margin-top: 19px;
        margin-right: 5px;
        text-align: center;
        color: #dddddd;
        cursor: arrow;
    }
    
}


@-webkit-keyframes hvr-buzz-out{10%{-webkit-transform:translateX(3px) rotate(2deg);transform:translateX(3px) rotate(2deg)}20%{-webkit-transform:translateX(-3px) rotate(-2deg);transform:translateX(-3px) rotate(-2deg)}30%{-webkit-transform:translateX(3px) rotate(2deg);transform:translateX(3px) rotate(2deg)}40%{-webkit-transform:translateX(-3px) rotate(-2deg);transform:translateX(-3px) rotate(-2deg)}50%{-webkit-transform:translateX(2px) rotate(1deg);transform:translateX(2px) rotate(1deg)}60%{-webkit-transform:translateX(-2px) rotate(-1deg);transform:translateX(-2px) rotate(-1deg)}70%{-webkit-transform:translateX(2px) rotate(1deg);transform:translateX(2px) rotate(1deg)}80%{-webkit-transform:translateX(-2px) rotate(-1deg);transform:translateX(-2px) rotate(-1deg)}90%{-webkit-transform:translateX(1px) rotate(0);transform:translateX(1px) rotate(0)}100%{-webkit-transform:translateX(-1px) rotate(0);transform:translateX(-1px) rotate(0)}
}
@keyframes hvr-buzz-out{10%{-webkit-transform:translateX(3px) rotate(2deg);transform:translateX(3px) rotate(2deg)}20%{-webkit-transform:translateX(-3px) rotate(-2deg);transform:translateX(-3px) rotate(-2deg)}30%{-webkit-transform:translateX(3px) rotate(2deg);transform:translateX(3px) rotate(2deg)}40%{-webkit-transform:translateX(-3px) rotate(-2deg);transform:translateX(-3px) rotate(-2deg)}50%{-webkit-transform:translateX(2px) rotate(1deg);transform:translateX(2px) rotate(1deg)}60%{-webkit-transform:translateX(-2px) rotate(-1deg);transform:translateX(-2px) rotate(-1deg)}70%{-webkit-transform:translateX(2px) rotate(1deg);transform:translateX(2px) rotate(1deg)}80%{-webkit-transform:translateX(-2px) rotate(-1deg);transform:translateX(-2px) rotate(-1deg)}90%{-webkit-transform:translateX(1px) rotate(0);transform:translateX(1px) rotate(0)}100%{-webkit-transform:translateX(-1px) rotate(0);transform:translateX(-1px) rotate(0)}
}

.social-icon img{
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
}
.social-icon img:active,.social-icon img:focus,.social-icon img:hover{
    -webkit-animation-name:hvr-buzz-out;
    animation-name:hvr-buzz-out;
    -webkit-animation-duration:.75s;
    animation-duration:.75s;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
}
/*MENU HAMBURGUER ----------------------------------------*/
#check{
    display: none;

}
#icone-menu img{  
    border-radius: 5px;
    width: 40px;
    filter:  invert();
}

#icone-menu{
    cursor: pointer;
    width: 50%;
    position: absolute;
    margin-top: 10px;
    z-index: 1;
}
@media only screen and (min-width: 769px){
    #icone-menu{
        cursor: pointer;
        width: 50%;
        position: absolute;
        margin-top: -270px;
        z-index: 1;
    }

}

.barra{
    background-color: #333;
    height: 50%;
    width: 170px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
    border-radius: 15px;
}

#menu-hamburguer{
    width: 100%;
    position: absolute;
    top: 60px;
}

#menu-hamburguer a{
    font-weight: bolder;
        text-decoration: none;
}
.link{
    background-color: #dddddd;
    padding: 10px;
    font-family: Arial,sans-serif;
    font-size: 12pt;
    transition: all .5s linear;
    color: #ffa500;
    border-bottom: 2px solid #222;
    border-radius: 15px;
    opacity: 0;
    margin-top: 200px;
    

}
.link:hover{
    transition: .1s;
    background-color: #606060;

}

#check:checked ~ .barra{
    transform: translateX(300px);
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}



/*---------------------------------------------------------------------------------------*/

section#corpo{
    display: block;

}

footer#rodape{
    margin-top: 31.25px;
    clear: both;
}

footer#rodape p{
    font-weight: bold;
    text-align: center;
}

/*===============================fim do modelo do site=============================$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/*------------------Artigo Principal------------*/

#artigo-principal{
    width: 100%;
    height: 220px;
    margin-top: 15px;
    box-sizing: border-box;
}
#artigo-principal hgroup{
    margin: 10px 50px 0px 50px;
    text-align: center;
    justify-content: center;
    width: 78%;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(231, 108, 7, 0.5);
}


@media only screen and (min-width: 769px){
    #artigo-principal{
        width: 100%;
        height: 160px;
        margin-top: 30px;

    }
    #artigo-principal hgroup{
        margin: 10px 50px 0px 50px;
        text-align: center;
        width: 90%;
        height: 70px;
        border-radius: 50%;
        background-color: rgba(231, 108, 7, 0.5);
    }


}

#artigo-principal h1{
    text-indent: 10px;
    font-size: 20pt;
}

#artigo-principal h2{
    text-indent: 10px;
    font-size: 15pt;
    margin-top: 15px;
}

/*---------------Fim do artigo--------------*/

/*Inicio suite-standard--------------------------------------------------------------------------*/

.container-images{
    width: 100%;
}

.bloco-images{
    /*border: 2px solid rgb(12, 12, 12);*/
    float: left;
    width: 96%;
    height: 300px;
    margin-left: 2%;
   /* background: #666;*/

}
.bloco-images img{
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0,0,0,.75);
    padding: 5px;
    height: 240px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.bloco-images img:hover{
    background-color: rgba(0,0,0,.2);
    transform: scale(.95);
}
.display-images{
    margin-top:0px;
    width: 100%;
    height: 1765px;
    box-sizing: border-box;
}

@media only screen and (min-width: 769px){

.display-images{
    border: 2px solid #fff;
    margin-top: 0px;
    width: 100%;
    height: 790px;
    box-sizing: border-box;
}

.bloco-images{
    float: left;
    width: 30%;
    height: 250px;
    margin-left: 1.75%;
    margin-right: 1%;
   /* background: #666;*/
    margin-bottom: 10px;
    
}

}
/*-------------------------*/
.display-sobre-instalacoes{
    display: inline-flex;
    border: 2px solid #fff;
    width: 100%;
    height: 550px;
    font-weight: bold;
    font-size: 11pt;
    margin-top: 10px;
    
}

.instalacoes-estrutura{
    border: 2px solid #fff;
    height: 320px;
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 769px){
.instalacoes-estrutura{
    position: relative;
    border: 2px solid #fff;
    padding: 5px;
    height: 100%;
    width: 50%;
    justify-content: center;
    
}
}

.instalacoes-estrutura li{
    margin: 15px 10px 0px 5px ;
    position: relative;
    width: 100%;
    display: block;
}

.instalacoes-servicos{
    border: 2px solid #fff;
    height: 320px;
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 769px){
    .instalacoes-servicos{
        position: relative;
        border: 2px solid #fff;
        padding: 0px;
        height: 100%;
        width: 50%;
        justify-content: center;
        
    }
    }
    
    .instalacoes-servicos li{
        margin: 15px 10px 0px 5px ;
        position: relative;
        width: 100%;
        display: block;
    }

/* Janela Modal para expandir imagem*/

#janela-modal{
    display: none; /*esconde o display da imagem*/
    position: fixed;
    z-index: 1; /*tras a imagem para frente*/
    padding-top: 50px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    overflow: auto;
    
}

#img-modal{
    
    margin: auto;
    display: block;
    width: 100%;
    max-width: 500px;
}

#btn-fechar{
    position: absolute;
    top: 35px;
    right: 405px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(236, 22, 22, 0.7);
}

#btn-fechar:hover{
    transform: scale(1.5);
    transition: 0.5s;
    
}
